@{
    ViewData["Title"] = "All Places";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary box-shadow m-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between mt-1 mx-2" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
                <a class="nav-link active link" asp-controller="MainFeatures" asp-action="getAll"><img src="~/images/All.jpg" class="img-icon" /><br /><span>All Places</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="trending"><img src="~/images/Trending.jpg" height="40px" class="img-icon" /><br /><span>Trending</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="beachFront"><img src="~/images/Beachfront.jpg" height="40px" class="img-icon" /><br /><span>Beachfront</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="pool"><img src="~/images/Amazing pools.jpg" height="40px" class="img-icon" /><br /><span>Amazing pools</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="desert"><img src="~/images/Desert.jpg" height="40px" class="img-icon" /><br /><span>Desert View</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="lake"><img src="~/images/lake.jpg" height="40px" class="img-icon" /><br /><span>Lake View</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="garden"><img src="~/images/garden.jpg" height="40px" class="img-icon" /><br /><span>Garden View</span></a>
                <a class="nav-link link" asp-controller="MainFeatures" asp-action="mountain"><img src="~/images/mountain.jpg" height="40px" class="img-icon" /><br /><span>Mountain</span></a>
            </div>
            
            <button type="button" class="btn-filter" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-sliders px-1"></i>Filters
            </button>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Filters</h1>
                            <button type="button" class="btn-close" id="close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("filter", "MainFeatures", FormMethod.Post))
                            {
                                <div>
                                    <h5>Price range</h5>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <label>Min Price</label><br>
                                            <input type="text" class="input-max" name="minPrice" value="400" />
                                        </div>
                                        <div>
                                            <label>Max Price</label><br>
                                            <input type="text" class="input-min" name="maxPrice" value="800" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <h5>Rooms and beds</h5>
                                    <div>
                                        <p>Bedrooms</p>
                                        <div class="d-flex container-bedRoomNum">
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum1" class="input-radio" name="bedRoomNum" value="1" checked>
                                                <span>1</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum2" class="input-radio" name="bedRoomNum" value="2">
                                                <span>2</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum3" class="input-radio" name="bedRoomNum" value="3">
                                                <span>3</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum4" class="input-radio" name="bedRoomNum" value="4">
                                                <span>4</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum5" class="input-radio" name="bedRoomNum" value="5">
                                                <span>5</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedRoomNum6" class="input-radio" name="bedRoomNum" value="6">
                                                <span>6</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p>Beds</p>
                                        <div class="d-flex container-bedNum">
                                            <label class="container-label">
                                                <input type="radio" id="bedNum1" class="input-radio" name="bedNum" value="1" checked>
                                                <span>1</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedNum2" class="input-radio" name="bedNum" value="2">
                                                <span>2</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedNum3" class="input-radio" name="bedNum" value="3">
                                                <span>3</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedNum4" class="input-radio" name="bedNum" value="4">
                                                <span>4</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedNum5" class="input-radio" name="bedNum" value="5">
                                                <span>5</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bedNum6" class="input-radio" name="bedNum" value="6">
                                                <span>6</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p>Bathrooms</p>
                                        <div class="d-flex container-bathRoomNum">
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum1" class="input-radio" name="bathRoomNum" value="1" checked>
                                                <span>1</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum2" class="input-radio" name="bathRoomNum" value="2">
                                                <span>2</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum3" class="input-radio" name="bathRoomNum" value="3">
                                                <span>3</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum4" class="input-radio" name="bathRoomNum" value="4">
                                                <span>4</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum5" class="input-radio" name="bathRoomNum" value="5">
                                                <span>5</span>
                                            </label>
                                            <label class="container-label">
                                                <input type="radio" id="bathRoomNum6" class="input-radio" name="bathRoomNum" value="6">
                                                <span>6</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="mt-3">
                                    <h5>Property type</h5>
                                    <div class="mt-3 d-flex radio-title-group">
                                        <div class="input-container">
                                                <input type="radio" id="type1" name="type" value="House" checked>
                                                <div class="radio-title">
                                                    <i class="fa-solid fa-house icon-type"></i>
                                                <label for="type1" class="type-label">House</label>
                                                </div>
                                        </div>
                                        <div class="input-container">
                                            <input type="radio" id="type2" name="type" value="Apartment">
                                            <div class="radio-title">
                                                <i class="fa-solid fa-building icon-type"></i>
                                                <label for="type2" class="type-label">Apartment</label>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <input type="radio" id="type3" name="type" value="Hotel">
                                            <div class="radio-title">
                                                <i class="fa-solid fa-hotel icon-type"></i>
                                                <label for="type3" class="type-label">Hotel</label>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <input type="radio" id="type4" name="type" value="Villa">
                                            <div class="radio-title">
                                                <i class="fa-solid fa-landmark icon-type"></i>
                                                <label for="type4" class="type-label">Villa</label>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <input type="radio" id="type5" name="type" value="Chalet">
                                            <div class="radio-title">
                                                <i class="fa-solid fa-shop icon-type"></i>
                                                <label for="type5" class="type-label">Chalet</label>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <input type="radio" id="type6" name="type" value="Vacation home">
                                            <div class="radio-title">
                                                <i class="fa-solid fa-house-chimney-window icon-type"></i>
                                                <label for="type6" class="type-label">Vacation home</label>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" id="filter">Filter</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="placeList">
    @foreach (var item in Model)
    {
        <a class="btn" asp-action="placeInDetail" asp-route-id="@item.PlaceId">
            <div class="slider-frame">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="@item.ImagesUrls[0]" class="img">
                    </div>
                    <div class="img-container">
                        <img src="@item.ImagesUrls[1]" class="img">
                    </div>
                    <div class="img-container">
                        <img src="@item.ImagesUrls[2]" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2">@item.Location</div>

            <div class="d-flex TypeAndRating mt-2">
                <p>@item.Type</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> @item.AvgRating.ToString("0.##")</p>
            </div>

            <div class="d-flex">@item.DailyPrice EGP night</div>
        </a>
    }
</div>
