@model airbnb.DTO.PlaceDetailsDTO

@{
    ViewData["Title"] = Model.Description;
}


    <h3> @Model.Description </h3>
    <div class="d-flex flex-row fs-6">
        <p><i class="fa-solid fa-star"></i>  @Model.AvgRating.ToString("0.##") </p>
        <p class="mx-2">&#8226;</p>
        <p class="text-decoration-underline"> @Model.ReviewsNumber reviews </p>
        <p class="mx-2">&#8226;</p>
        <p class="text-decoration-underline"> @Model.Location </p>
    </div>


    <div class="d-inline-flex flex-row ">
        <div class="col">
            <img src="@Model.ImagesUrls[0]" height="407px" width="540px" class="rounded m-1" />
        </div>
        <div class="d-inline-flex flex-column">
            <div class="d-inline-flex flex-row">
                <img src="@Model.ImagesUrls[1]" height="200px" width="270px" class="m-1 rounded" />
                <img src="@Model.ImagesUrls[2]" height="200px" width="270px" class="m-1  rounded" />

            </div>
            <div class="d-inline-flex flex-row">
                <img src="@Model.ImagesUrls[3]" height="200px" width="270px" class="m-1  rounded" />
                <img src="@Model.ImagesUrls[4]" height="200px" width="270px" class="m-1  rounded" />

            </div>
        </div>

    </div>

    <h4 class="mt-4">@Model.Type hosted by @Model.OwnerName</h4>
    <div class="d-flex flex-row fs-6">
        <p>@Model.BedroomNumber bedrooms </p>
        <p class="mx-2">&#8226;</p>
        <p> @Model.BedNumber beds </p>
        <p class="mx-2">&#8226;</p>
        <p>@Model.BathroomNumber baths </p>
    </div>
   


<div class="d-inline-flex flex-row">

    <div class="d-inline-flex flex-column" style="width:60%">

        <hr class="my-4">
    <div>
        <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" height="30px">
        <p class="mt-3">Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p>
        <a href="#" class="link-dark fw-bold">Learn more</a>
    </div>

        <hr class="my-4">

    <div>
        <h4>What this place offers</h4>
        <div class="container">
            <div class="row row-cols-2">
                @foreach (var item in Model.Services)
                {
                    <div class="col py-1">@item</div>
                }
            </div>
        </div>        
    </div>

        <hr class="my-4">

    <div class="d-flex flex-row mb-3">
            <h4><i class="fa-solid fa-star"></i>  @Model.AvgRating.ToString("0.##") stars</h4>
            <h4 class="mx-2">&#8226;</h4>
            <h4> @Model.ReviewsNumber reviews </h4>
    </div>
    <div>
        @foreach (var item in Model.Reviews)
        {
            if(item.Comments != null)
            {
                <p><i class="fa-solid fa-comment-dots me-3"></i>@item.Comments </p>
            }
        }
    </div>
    </div>

    <div class="d-flex flex-column  align-content-center" style="width:50%">
        <img src="~/images/Sea.png" width="260px" style="margin:15px auto">
        <img src="~/images/Review.png" width="260px" style="margin:15px auto">

    </div>

</div> 



<hr class="my-4">
<div>
<h4>Hosted by @Model.Owner.FirstName @Model.Owner.LastName</h4>
@if(Model.Owner.NID != null)
{
    <p class="fs-6"><i class="fa-regular fa-circle-check me-1"></i> Identity verified</p>

}
<p>Response rate: @Model.Owner.ResponseRate%</p>
<p>Response time: @Model.Owner.ResponseTime</p>
<button type="button" class="btn btn-outline-danger fw-bold">Contact Host</button>

   @* <p>
        <a class="btn btn-outline-danger fw-bold" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Contact Host
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            @Model.Owner.
        </div>
    </div>*@

</div>


<hr class="my-4">
<div>
    <h4>Things to know</h4>
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column mx-3">
            <h6>Place rules</h6>
            <p>
                Review the Host’s full rules and instructions upon arrival.
            </p>
        </div>
        <div class="d-flex flex-column mx-3 ms-5">
            <h6>Safety & property</h6>
            <p>
                No carbon monoxide alarm
            </p>
            <p>
                No smoke alarm
            </p>
        </div>
        <div class="d-flex flex-column mx-3">
            <h6>Cancellation policy</h6>
            <p>
                Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.
            </p>
        </div>
    </div>
</div>

