@model airbnb.Models.Customer

@{
    ViewData["Title"] = "Profile";
}

<div class="d-flex flex-row justify-content-between">
    <div class="mt-4 profile-detail" style="width: 58%; font-size:110%">
        <div class="d-flex flex-row">
            <img src="~/images/@Model.ImgSrc" class="img-circle" />
            <div class="d-flex flex-column justify-content-center ms-5">
                <h3> Welcome, @Model.FirstName @Model.LastName</h3>
            </div>
        </div>
        <dl class="row">
            <div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8; padding: 2% 0%;">
                <dt class="col-6">
                    Date of birth
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.DOB)
                </dd>
            </div>
            <div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8; padding: 2% 0%;">
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
            <div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8; padding: 2% 0%;">
                <dt class="col-6">
                    National ID
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.NID)
                </dd>
            </div>
            <div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8; padding: 2% 0%;">
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
        </dl>
        <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.CustomerId" style="margin-right:2%; width:30%">Edit Information</a>
            <a class="btn btn-secondary" asp-action="ResetPassword" asp-route-id="@Model.CustomerId" style="margin-right:2%; width:30%">Reset Password</a>
            <a class="btn btn-danger" asp-action="getAll" asp-controller="MainFeatures" style="width:30%">Back</a>
        </div>
    </div>

    <div class="d-flex flex-column mt-3 info-profile" style="width:38%">
        <div class="border-2 shadow rounded-4 m-4 p-4">
            <i class="fa-solid fa-lock fs-2 m-2" style="color:#ff5361"></i>
            <h4>Which details can be edited?</h4>
            <p style="color:#999">Details Airbnb uses to verify your identity can’t be changed. Contact info and some personal details can be edited, but we may ask you verify your identity the next time you book or create a listing.</p>
            <hr />
            <i class="fa-solid fa-eye fs-2 m-2" style="color:#ff5361"></i>
            <h4>What info is shared with others?</h4>
            <p style="color:#999">Airbnb only releases contact information for Hosts and guests after a reservation is confirmed.</p>
        </div>
    </div>
</div>



